name: Frontend CI/CD

on:
  push:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          
      - name: Install & Build
        run: |
          npm install
          npm run build
        env:
          VITE_API_URL: https://fsi-cloudshopping-backend.onrender.com
          
      - name: Deploy to Render
        # Aqui você usa o "Deploy Hook" que o Render fornece nas configurações do site
        run: curl -X POST ${{ secrets.RENDER_DEPLOY_HOOK_URL }}